@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  padding-inline: 10%;
  animation: fadeInAnimation 1.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  min-height: 100vh;
}

.projectContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 25px;
  margin-block: 50px;
  justify-content: space-evenly;
}

.button {
  border: 2px solid #2f2f2f;
  padding: 10px;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
  transition: 0.2s ease-in-out;
}

.button:hover {
  border: 2px solid #656464;
  background-color: #222222;
}

@media screen and (max-width: 950px) {
}

@media screen and (max-width: 800px) {
}
