.buttonContainer {
  margin-top: 4%;
  display: flex;
  column-gap: 20px;
}

.button {
  color: #f1f1f1;
  border: 1px solid #f1f1f1;
}

.button:hover {
  background-color: #f1f1f1;
  color: #000000;
  border-color: #f1f1f1;
}

.activeButton {
  background-color: #f1f1f1;
  color: #000000;
  border-color: #f1f1f1;
}

.activeButton:hover {
  background-color: #f1f1f1;
  color: #000000;
  border-color: #f1f1f1;
}

.carouselContainer {
  padding-block: 3%;
  display: flex;
}

@media screen and (max-width: 800px) {
  .buttonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: 20px;
  }
}
