.buttonContainer {
    margin-top: 4%;
    display: flex;
    column-gap: 20px;
}

.button {
    color: #F1F1F1;
    border: 1px solid #F1F1F1
}

.button:hover {
    background-color: #F1F1F1;
    color: #000000;
    border-color: #F1F1F1
}

.activeButton {
    background-color: #F1F1F1;
    color: #000000;
    border-color: #F1F1F1
}

.activeButton:hover {
    background-color: #F1F1F1;
    color: #000000;
    border-color: #F1F1F1
}

.carouselContainer {
    padding-top: 3%;
    display: flex;
}