
.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0;
    margin-bottom: 2%;
}

.back {
    position: absolute;
}

.backIcon {
    font-size: 38px;
}

.header {
    background-color: #005983;
    margin-inline: 5%;
}
.titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imageContainer{
    display: flex;
    justify-content: center;
}
.title {
    text-align: center;
    padding-block: 20px;
    font-size: 48px;

}

.handicap {
    font-size: 64px;
}

.personaContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 25px;
}

.content {
    flex-direction: column;
    padding-inline: 2%;
    /* background-color:  #343434; */
    margin-inline: 5%;
}

.headerText {
    color: #026a9b
}

.endButton {
    margin-block: 5%;
    display: flex;
    flex: 1;
    align-self: center;
    color: #F9A006;
    border: 1px solid #F9A006
}