.container {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%
}

.button {
    margin-top: 25px;
    background-color: #F9A006;
    color: #000000;
}

.button:hover {
    background-color: #ca8105;
    color: #000000;
}