.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 4rem;
}

.infoContainer {
  padding-left: 5%;
  min-width: 250px;
}

.name {
  color: #f1f1f1;
  font-size: 3rem;
  margin: 0;
  padding: 0;
  margin-bottom: 3%;
}

.title {
  font-size: 1.75rem;
  color: #f1f1f1;
  margin: 0;
  padding: 0;
}

.image {
  border-radius: 50%;
  /* flex: 1; */
}

@media screen and (max-width: 800px) {
  .name {
    font-size: 2.25rem;
    margin: 0;
    padding: 0;
    padding-bottom: 2%;
  }

  .title {
    font-size: 1.25rem;
    color: #f1f1f1;
    margin: 0;
    padding: 0;
    padding-bottom: 3%;
  }
}

@media screen and (max-width: 550px) {
  .infoContainer {
    min-width: 225px;
  }

  .name {
    font-size: 1.5rem;
  }
  .title {
    font-size: 1rem;
  }
}
