.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-block: 1%;
  margin-bottom: 2rem;
  background-color: transparent;
  padding-inline: 5%;
}

.title {
  flex: 1;
  font-weight: bolder;
  font-size: 2rem;
}

.navButtonContainer {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  column-gap: 10px;
}

.navButton {
  border-radius: 100px;
  padding-inline: 1rem;
  padding-block: 0.75rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f1f1f1;
  color: #f1f1f1;
  transition: 0.2s ease;
}

.navButton:hover {
  border-color: #f1f1f1;
  background-color: #f1f1f1;
  color: #000000;
  transform: scale(1.05);
}

.activeNavButton {
  border-radius: 100px;
  padding-inline: 1rem;
  padding-block: 0.75rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f1f1f1;
  background-color: #f1f1f1;
  color: #000000;
}

.activeNavButton:hover {
  border-color: #f1f1f1;
  background-color: #f1f1f1;
  color: #000000;
}

.drawer {
  display: none;
}

@media screen and (max-width: 800px) {
  .navButtonContainer {
    display: none;
  }

  .navButton {
    display: none;
  }
  .container {
    padding-top: 10px;
  }

  .drawer {
    display: block;
  }

  .listContainer {
    width: 250px;
  }

  .list {
    padding: 0;
    margin: 0;
  }

  .buttonText {
    font-size: 24px;
    margin-left: 10px;
  }

  .button {
    width: 100%;
    padding-inline: 10%;
    padding-block: 10%;
    text-decoration: none;

    transition-duration: 200ms;
  }

  .button:hover {
    cursor: pointer;
    background-color: #2f2f2f;
  }

  .name {
    margin: 0 auto;
  }

  .nameText {
    padding: 0;
    margin: 0;
    color: white;
  }
}
