.listContainer {
  width: 250px;
}

.list {
  padding: 0;
  margin: 0;
}

.name {
  margin: 0 auto;
}

.nameText {
  padding: 0;
  margin: 0;
  color: white;
}

.buttonText {
  font-size: 24px;
  margin-left: 10px;
}

.button {
  width: 100%;
  padding-block: 10%;
  transition-duration: 200ms;
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
  background-color: #fd7c05;
}
