.container {
    flex: 0 1 30%;
    min-width: 275px;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 10px 15px;
}

.content {
    text-align: center;
}

.header {
    text-align: center;
}

.skillsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 5%;
    flex-wrap: wrap;
}

.actionContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.button {
    color: white;
    font-size: 12px;
}

.headerText {
    margin-bottom: 2%;
    font-size: 24px;
}


.text {
    padding: 0;
    margin: 0;
}

.italicText{
    font-style: italic;
    color: rgb(193, 193, 193);
    font-size: 14px;
}

.paragraphText {
    color: white;
    margin-top: 5%;
}

.button:hover {
    background-color: #006E08;
    color: rgb(193, 193, 193);
}



