.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

.headerContainer {
    align-self: center;
    text-align: center;
}

.header {
    font-weight: bold;
    font-size: 35px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap
}