.container {
    flex: 0 1 30%;
    min-width: 275px;
    border-radius: 10px;
    margin-bottom: 5%;
}

.content {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    text-align: center;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

