.card {
    flex: 0 1 30%;
    min-width: 275px;
    border-radius: 10px;
    margin-bottom: 5%;
}

.image {
    position: relative;
    width: 100%;
    height: 100%;
}

.heading {
    margin: 0;
}

.text {
    padding: 0;
    margin: 0;
}

.italicText{
    font-style: italic;
    color: white;
}

.paragraphText {
    font-style: normal;
    color: black;
    margin-top: 5%;
}

.buttonContainer {
    margin: 0;
}