.container {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.isVisible {
    transform: none;
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.headerContainer {
    align-self: center;
    text-align: center;
}

.header {
    font-weight: bold;
    font-size: 35px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}