.container {
    display: flex;
    background-color: #21209C;
    border-radius: 10px;
    padding-block: 2%;
}

.infoContainer {
    flex: 2;
    display: flex;
    padding-left: 2%;
    flex-direction: column;
    justify-content: space-evenly;
}

.name {
    color: #00FF00;
    font-size: 64px;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 32px;
    color: #F1F1F1;
    margin: 0;
    padding: 0;
}

.tech {
    font-size: 24px;
    color: #F1F1F1;
    margin: 0;
    padding: 0;
}

.imageContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageBackground {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-block: 2%;
    border: 5px solid black;
}

.image {
    border-radius: 100px;
}