.buttonContainer {
    margin-top: 4%;
    display: flex;
    column-gap: 20px;
}

.button {
    color: #00FF00;
    border: 1px solid #00FF00
}

.carouselContainer {
    padding-top: 3%;
    display: flex;
}