.container {
    display: flex;
    flex: 1 1 150px;
    padding: 0;
    max-width: 10%;
    min-width: 150px;
    border-radius: 10px;
    border: 2px solid #173CAB;
    overflow: hidden;
    margin-bottom: 2%;
    /* justify-content: flex-start; */
}

.imageContainer {
    flex: 1;
    position: relative;
    /* background-color: black; */
}

.image {
    position: relative;
    width: 100%;
    height: 100%;
}

.textContainer {
    flex: 2;
    text-align: center;
    padding: 0;
}